# set log level: info, debug, warning, error
# LOG_LEVEL = "info"

# set Telegram bot's Token
BOT_TOKEN = ""

# list of super users seperated by newlines
SUPER_USERS = "
123456789
987654321
"

# set proxy to use for telegram client
# PROXY = "socks5h://127.0.0.1:2080"

# set telegram parse mode, DO NOT CHANGE this if you don't know what you are doing
# PARSE_MODE = "HTML"


# SET database url - you can change port or the host(localhost) if needed
DATABASE_URL = "mysql://mysqluser:mysqlpass@${_MYSQL_HOST}:${_MYSQL_PORT}/mysqldb"

# Set bot username, most probably will be overriden in runtime
BOT_USERNAME = "marzdemobot"


# set default username prefix for created proxies
# usernames in marzban will be prefixed with this, for example: 'Marzdemo_c455d'
# DEFAULT_USERNAME_PREFIX = "Marzdemo"


# how many times each reseller can get test services by default
# DEFAULT_DAILY_TEST_SERVICES = 1


# all payments with a price more than this value will have 6 percent free credit
# PAYMENTS_DISCOUNT_ON = 400000
# PAYMENTS_DISCOUNT_ON_PERCENT = 6


# Channel id to send the transaction logs to (Bot must be admin in this channel)
# TRANSACTION_LOGS = "-1001892840123"


# perfectmoney credentials, DO NOT FORGET TO WHITLELIST YOUR IP IN PM'S API SETTINGS
# PERFECTMONEY_ACCOUNT_ID = ""
# PERFECTMONEY_PAYEE_ACCOUNT = "" 
# PERFECTMONEY_PASSPHRASE = ""


# nowpayments.io settings and credentials
# NP_API_URL = "https://api.nowpayments.io/v1"

# NP_API_KEY = ""

# the url that nowpayment will send the payment notifications to
# NP_IPN_CALLBACK_URL = "https://mybotserver.com/npipn/" # the path has to be '/npipn/'
# NP_IPN_SECRET_KEY = ""

# READ NOWPAYMENTS DOCS
# NP_SUCCESS_URL = ""
# NP_CANCEL_URL = ""


# REDIS configurations
# REDIS_HOST = ""
# REDIS_PORT = 
# REDIS_DB = 


# webapp settings for nowpayments ipn and marzban webhooks
# WEBAPP_HOST = "127.0.0.1" 
# WEBAPP_PORT = "3333"


# marzban's webhook secret
# MARZBAN_WEBHOOK_SECRET = ""


# forcejoin chats, THE BOT HAS TO BE ADMIN IN ALL OF THIS CHATS
# FORCE_JOIN_CHATS = "
# -1001892840605@username1
# -1001892840605@username2
# "