<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>
        {{ bot_url if bot_url else 'Marzbot' }} - پرداخت
    </title>
</head>

<body>

    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-4">تأیید پرداخت</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card ">
                    <div class="card-header">
                        {% if status == True %}
                        <div class="alert alert-success shadow-sm pt-4 pl-2 pr-2 pb-2 mb-3 text-center">
                            <!-- payment status -->
                            {% if message %}
                            <span>خطا: {{ message }}</span>
                            {% else %}
                            {% if already_paid != True %}
                            <span>!پرداخت با موفقیت انجام شد</span>
                            {% else %}
                            <span>پرداخت شما در ربات تأیید شده است!</span>
                            {% endif %}
                            {% endif %}

                            {% else %}
                            <div class="alert alert-danger shadow-sm pt-4 pl-2 pr-2 pb-2 mb-3 text-center">
                                {% if message %}
                                <span>خطا: {{ message }}</span>
                                {% else %}
                                <span>!پرداخت ناموفق</span>
                                {% endif %}
                                {% endif %}
                                <!-- End -->
                            </div>
                            {% if not error %}
                            <div class="container">
                                <div>
                                    {% if status == True %}
                                    <span>موفق</span>
                                    {% else %}
                                    <span>ناموفق</span>
                                    {% endif %}
                                    <span class="float-right">وضعیت</span>
                                </div>

                                <hr>

                                {% if amount %}
                                <div>
                                    <span class="float-left"> تومان </span>
                                    <span class="mx-2"> {{ amount }} </span>
                                    <span class="float-right">مبلغ</span>
                                </div>
                                {% endif %}


                                {% if errcode %}
                                <hr>
                                <div class="text-warning">
                                    <span>{{ errcode }}</span>
                                    <span class="float-right">کد خطا</span>
                                </div>
                                {% endif %}

                                {% if order_id %}
                                <hr>
                                <div>
                                    <span>{{ order_id }}</span>
                                    <span class="float-right">شماره سفارش</span>
                                </div>
                                {% endif %}
                                <hr>

                                {% if ref_id %}
                                <div>
                                    <span>{{ ref_id }}</span>
                                    <span class="float-right">شماره پیگیری</span>
                                </div>
                                {% endif %}

                                <br>
                                <a href="{{ bot_url if bot_url else '' }}" class="btn btn-info btn-lg btn-block"
                                    role="button">بازگشت به
                                    ربات</a>
                            </div>
                            {% endif %}

                            {% if error %}

                            <div class="card text-center text-danger">
                                <span>!تراکنش ناموفق یا توسط کاربر لغو شد</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            <footer class="footer" dir="ltr">
                <div class="navbar fixed-bottom bg-dark">
                    <span class="text-muted">{{ bot_url if bot_url else 'Marzbot' }}</span>
                </div>
            </footer>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous"></script>
</body>

</html>